In [148]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import cross_validation
from sklearn import linear_model,neighbors
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Desktop/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [75]:
#redefinig categorial data
from sklearn.preprocessing import LabelEncoder
sex=LabelEncoder()
df['sex']=sex.fit_transform(df['sex'].astype(str))

region=LabelEncoder()
df['region']=region.fit_transform(df['region'].astype(str))

smoker=LabelEncoder()
df['smoker']=smoker.fit_transform(df['smoker'].astype(str))
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [93]:
'''defining the correlation among the features..It is shown there is a strong relation between smoker-charges
and little relation between age-charges

'''df.corr()

               age       sex       bmi  children    smoker    region   charges
age       1.000000 -0.020856  0.109272  0.042469 -0.025019  0.002127  0.299008
sex      -0.020856  1.000000  0.046371  0.017163  0.076185  0.004588  0.057292
bmi       0.109272  0.046371  1.000000  0.012759  0.003750  0.157566  0.198341
children  0.042469  0.017163  0.012759  1.000000  0.007673  0.016569  0.067998
smoker   -0.025019  0.076185  0.003750  0.007673  1.000000 -0.002181  0.787251
region    0.002127  0.004588  0.157566  0.016569 -0.002181  1.000000 -0.006208
charges   0.299008  0.057292  0.198341  0.067998  0.787251 -0.006208  1.000000

In [101]:
X = np.array(df.drop(['smoker'],1))
y = np.array(df['smoker'])

#pridicting whether the person is smoker or not 

X_train , X_test,y_train , y_test = cross_validation.train_test_split(X,y,test_size=0.2)
    # the linear function
reg_clf = linear_model.LinearRegression()
    # Training
reg_clf.fit(X_train,y_train)
    # Testing
acc = reg_clf.score(X_test,y_test)
acc = acc * 100

print('Linear regression accuracy score: ',acc)

Linear regression accuracy score:  74.7998438431

In [102]:

#pridicting whether the person is smoker or not using KNearestNeighbours
    # the KNN function
knn_clf = neighbors.KNeighborsClassifier()
    # Training
knn_clf.fit(X_train,y_train)
    # Testing
acc_knn = knn_clf.score(X_test,y_test)
acc_knn = acc_knn * 100
print('KNN accuracy score: ',acc_knn)

KNN accuracy score:  92.5373134328

In [103]:
# predicting charges   using linear regression
XC = np.array(df.drop(['charges'],1))
yC = np.array(df['charges'])
X_trainC , X_testC,y_trainC , y_testC = cross_validation.train_test_split(XC,yC,test_size=0.2)

In [124]:
charges_clf=linear_model.LinearRegression()
charges_clf.fit(X_trainC,y_trainC)
predicted_charges=charges_clf.predict(X_testC)
charges_accuracy=charges_clf.score(X_testC,y_testC)
print('charges accuracy score using Linear regression: ',charges_accuracy*100)

charges accuracy score using Linear regression:  75.1481712265

In [152]:
#try using random forest method
clf_tree = tree.DecisionTreeRegressor()
clf_tree.fit(X_trainC,y_trainC)
charges_accuracy_tree=clf_tree.score(X_testC,y_testC)
print(clf_tree.predict(X_testC))

print('charges accuracy score using Tree regression: ',charges_accuracy_tree*100)

charges accuracy score using Tree regression:  68.2854614318